body { 
    background-color : #E9E9E9; 
    font-size : 25px;
}

hr {
    color : #888;
    width : 400px;
}

input {
    font-size : 20px;
}

#errorDiv {
    padding : 10px;
    border : 1px solid black;
    background-color : #F08080;
}